.sellerTextContainer {
  margin: 0 0 20px;
}

.sellerLink {
  text-decoration: none;
}

.sellerLink:focus :global(.vtex-seller-selector-0-x-sellerName),
.sellerLink:hover :global(.vtex-seller-selector-0-x-sellerName) {
  color: var(--fresh-blue);
}

.priceContainer {
  padding: 1rem 0;
}
