.averageRatingLoadingContainer {
  height: 1.8rem;
  width: 3.8rem;
  border-radius: 2rem;
  overflow: hidden;
}

.averageRatingContainer {
  background-color: #faf7ab;
  padding: 0.3rem 0.5rem 0.2rem;
  border-radius: 2rem;
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  width: fit-content;
  height: 1.8rem;
}

:global(.vtex-product-summary-2-x-element) .averageRatingContainer {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}

.averageRatingContainer::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='0 0 15 15' fill='none'%3E%3Cpath d='M12.5113 7.04421L12.5128 7.04444C12.6096 7.05896 12.7007 7.09937 12.7764 7.16141C12.8496 7.22144 12.9058 7.29955 12.9395 7.38795C12.9659 7.47619 12.9678 7.57001 12.945 7.65937L13.4295 7.78288L12.945 7.65938C12.9215 7.75176 12.8725 7.83567 12.8035 7.90154L12.8035 7.90153L12.801 7.904L11.027 9.6238L10.8373 9.80773L10.8824 10.0681L11.3022 12.4921L11.3024 12.4932C11.319 12.588 11.3088 12.6855 11.2729 12.7748C11.237 12.8641 11.1769 12.9415 11.0993 12.9984C11.0217 13.0552 10.9297 13.0892 10.8338 13.0966C10.738 13.1039 10.642 13.0843 10.5568 13.04C10.5567 13.0399 10.5566 13.0399 10.5564 13.0398L8.3568 11.8892L8.12505 11.768L7.8933 11.8892L5.69346 13.0399C5.6934 13.0399 5.69335 13.04 5.69329 13.04C5.60905 13.0839 5.51422 13.1033 5.41952 13.096C5.32475 13.0888 5.23391 13.0552 5.15728 12.9989L5.15734 12.9989L5.14963 12.9934C5.07264 12.9391 5.01272 12.864 4.97692 12.7769C4.94111 12.6898 4.93089 12.5942 4.94747 12.5015L4.94797 12.4986L5.36776 10.0679L5.4129 9.80648L5.22177 9.62253L3.42073 7.88919L3.42073 7.88918L3.41811 7.88669C3.34938 7.8215 3.30079 7.73797 3.2781 7.64599C3.25543 7.55415 3.25955 7.45773 3.28995 7.36816C3.32079 7.27818 3.37591 7.19848 3.44924 7.13789C3.52266 7.07721 3.61145 7.03806 3.70576 7.02477L3.70689 7.0246L6.1647 6.67252L6.42199 6.63566L6.53964 6.4039L7.6636 4.18984L7.66361 4.18984L7.66443 4.1882C7.70736 4.10285 7.77317 4.03111 7.85451 3.98097C7.93584 3.93084 8.02951 3.9043 8.12505 3.9043C8.2206 3.9043 8.31426 3.93084 8.3956 3.98097C8.47693 4.03111 8.54274 4.10285 8.58567 4.18821L8.5865 4.18984L9.71046 6.4039L9.82672 6.63291L10.0806 6.67181L12.5113 7.04421Z' fill='%23142032' stroke='%23142032'/%3E%3C/svg%3E");
  width: 15px;
  height: 15px;
}

.formContainer {
  background-color: transparent;
  margin: 0;
  padding: 0;
  text-align: initial;
}

.formContainer :global(.vtex-card) {
  background-color: transparent;
  box-shadow: none!important;
  padding: 0;
}

.writeReviewContainer {
  margin-top: 1rem;
}

.loginLink {
  color: #3c4043;
}