/* b2b-sku-list */
.skuContentWrapper {
  border-radius: 0;
  border-width: 0.0625rem;
  margin: 0 -0.5rem -0.0625rem;
  padding: 0.5rem 1rem;
  border-color: var(--lines-light);
}

.skuContentWrapper:first-child {
  margin-top: -0.5rem;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.skuContentWrapper:last-child {
  margin-bottom: -0.5rem;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.itemHighlight,
.priceContainer,
.inventoryContainer,
.highlightContent {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quantitySelectorTitle {
  text-align: center;
}

.quantitySelectorStepper {
  width: 100px;
  margin: 0 auto;
}

.quantitySelectorContainer {
  margin-bottom: 0;
}

:global(.vtex-numeric-stepper-wrapper) {
  display: flex;
  justify-content: center;
}

.skuName {
  font-size: 1rem;
  text-align: center;
  margin: 0;
}

/* b2b-last-orders */
.orderDetails,
.arrow {
  color: var(--fresh-blue);
}

.popperArrow .container {
  border-color: var(--fresh-blue);
}

/* b2b-representative-area */
.data {
  color: var(--black-medium);
}

/* b2b-switch-organizations */
.containerSwitch {
  width: 260px;
  padding: 0.5rem;
}
