.container {
  margin: 2rem 0;
}

.modalContainer {
  margin: 0;
  text-align: center;
  line-height: 0.75rem;
}

.modalContainer .title {
  font-size: 0.75rem;
  color: var(--black-medium);
  text-decoration: underline;
}

.modalContainer :global(.vtex-button__label) {
  padding: 0 !important;
}

.currentPriceContainer {
  font-size: 20px;
  font-weight: 600;
  color: var(--black-dark);
}

.startPrice {
  font-size: 0.75rem;
  font-weight: 100;
  color: var(--black-medium);
}

:global(.vtex-flex-layout-0-x-flexRow--product-price-box)
  .currentPriceContainer {
  font-size: 2.5rem;
}
