.sliderLayoutContainer:not(.sliderLayoutContainer--dotsCustom) {
  padding-bottom: 26px;
}

.sliderArrows--homeSlider {
  background-color: rgba(0, 51, 100, 0.32) !important;
  background-repeat: no-repeat !important;
  border-radius: 50%;
  height: 48px;
  padding: 0;
  width: 48px;
}

.caretIcon--homeSlider {
  display: none;
}

.sliderLeftArrow--homeSlider {
  background-image: url("assets/icons/chevronLeftWhite.svg") !important;
  background-position: 17px center !important;
  left: 16px;
}

.sliderRightArrow--homeSlider {
  background-image: url("assets/icons/chevronRightWhite.svg") !important;
  background-position: 20px center !important;
  right: 16px;
}

.paginationDotsContainer {
  bottom: 10px;
}

.paginationDotsContainer--dotsCustom {
  display: flex;
  width: auto;
  left: 50%;
  right: initial;
  transform: translateX(-50%);
  bottom: 16px;
  background: #fff;
  border-radius: 40px;
  padding: 2px 6px;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.16);
  height: 20px;
  align-items: center;
}

.paginationDot {
  background-color: #bdc9d6;
}

.paginationDot.paginationDot--isActive {
  background-color: var(--fresh-blue);
}

.sliderLayoutContainer--benefitsSlider {
  margin-top: 44px;
}

.sliderTrackContainer {
  max-width: 100%;
}

/* BEGIN - Trending Shelf */
.sliderArrows {
  padding: 5px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  color: var(--fresh-blue);
  border: var(--fresh-blue) solid 1px;
  background-color: #fff !important;
}

.sliderArrows:local([disabled]) {
  color: var(--black-medium);
  border: var(--black-medium) solid 1px;
}

.sliderArrows:active,
.sliderArrows:hover,
.sliderArrows:focus,
.sliderArrows:local([disabled]) {
  opacity: 1;
  background-color: var(--lines-light) !important;
}

.sliderArrows--shelfTrending {
  top: 30%;
}
.sliderArrows--stripeSlider {
  opacity: 0.75;
  color: var(--serious-black);
  border-color: var(--serious-black);
}
.sliderArrows--stripeSlider:local([disabled]) {
  display: none;
}
/* .sliderArrows--shelfAlsoView,
.sliderArrows--categorySlider,
.sliderArrows--shelfPopular,
.sliderArrows--shelfStyle1 {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #a3afbc;
  background-color: #fff !important;
  border-radius: 999px;
  padding: 0;
  text-align: center;
}

.sliderArrows--shelfAlsoView .caretIcon,
.sliderArrows--shelfPopular .caretIcon,
.sliderArrows--shelfStyle1 .caretIcon {
  display: none;
  opacity: 0;
}

.sliderRightArrow--shelfAlsoView,
.sliderRightArrow--shelfPopular,
.sliderRightArrow--shelfStyle1 {
  border-color: var(--fresh-blue);
}

.sliderRightArrow--shelfAlsoView,
.sliderRightArrow--shelfPopular,
.sliderRightArrow--shelfStyle1,
.sliderLeftArrow--shelfAlsoView,
.sliderLeftArrow--shelfPopular,
.sliderLeftArrow--shelfStyle1 {
  background-repeat: no-repeat !important;
}

.sliderRightArrow--shelfAlsoView,
.sliderRightArrow--shelfPopular,
.sliderRightArrow--shelfStyle1 {
  background-position: 11px center !important;
  background-image: url("assets/icons/chevronRightBlue.svg") !important;
}

.sliderLeftArrow--shelfAlsoView,
.sliderLeftArrow--shelfPopular,
.sliderLeftArrow--shelfStyle1 {
  background-position: 9px center !important;
  background-image: url("assets/icons/chevronLeftBlue.svg") !important;
} */

.sliderLayoutContainer--categorySlider {
  padding: 0px 50px 28px;
  margin-bottom: 24px;
}

.caretIcon--categorySlider {
  height: 16px;
  width: 12px;
}

.sliderLayoutContainer--stripeSlider {
  padding-bottom: 0 !important;
  background: var(--serious-black);
  margin-top: 16px;
  height: 50px;
}

/* .sliderTrackContainer--stripeSlider {
  overflow: unset;
} */

/* END - Trending Shelf */

@media (max-width: 64rem) {
  .sliderLayoutContainer--categorySlider {
    padding: 0px 42px 28px;
  }

  .paginationDotsContainer--shelfAlsoView {
    bottom: 0;
  }

  .sliderLayoutContainer--shelfAlsoView,
  .sliderLayoutContainer--bannersSlider {
    margin-bottom: 32px;
  }

  .sliderLayoutContainer--shelfAlsoView,
  .sliderLayoutContainer.sliderLayoutContainer--bannersSlider {
    padding-bottom: 38px;
  }

  .sliderTrack--shelfPopular {
    overflow: hidden;
    pointer-events: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .sliderTrack--shelfPopular .slide {
    width: 100% !important;
  }

  .slide--shelfStyle1 {
    max-width: 160px;
  }
}
