.container :global(.vtex-button) {
  width: auto;
  display: flex;
  align-items: center;
}

.container :global(.vtex-button)::before {
  content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.276 0H9.724C7.73733 0 6.192 1.72667 6.412 3.70133L7.004 9.03467C7.192 10.7227 8.61867 12 10.316 12H13.684C15.3813 12 16.808 10.7227 16.996 9.03467L17.588 3.70133C17.808 1.72667 16.2613 0 14.276 0ZM14.276 2C14.7947 2 15.1213 2.27867 15.2693 2.444C15.4173 2.61067 15.6573 2.96533 15.6013 3.48L15.008 8.81333C14.9333 9.49067 14.3627 10 13.684 10H10.316C9.63733 10 9.06667 9.49067 8.99067 8.81333L8.39867 3.48C8.34133 2.96533 8.58133 2.61067 8.73067 2.444C8.87867 2.27867 9.20533 2 9.724 2H14.276ZM18.6827 15.3333H5.31733C2.21067 15.3333 0 17.6373 0 21.076C0 23.4373 1.044 24 2.69333 24H21.3053C23.24 24 24 22.8693 24 21.076C24 17.6413 21.7893 15.3333 18.6827 15.3333ZM18.6827 17.3333C19.6213 17.3333 20.4893 17.7133 21.128 18.4013C21.7653 19.0907 22.0053 19.7867 22.0053 20.9227C22.0053 21.544 21.8453 22 21.3053 22H2.69333C2.29733 22 1.99467 21.6893 1.99467 20.9227C1.99467 19.9653 2.23333 19.0907 2.872 18.4013C3.51067 17.7133 4.37867 17.3333 5.31733 17.3333H18.6827Z' fill='%23142032'/%3E%3Cmask id='mask0_972_5108' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.276 0H9.724C7.73733 0 6.192 1.72667 6.412 3.70133L7.004 9.03467C7.192 10.7227 8.61867 12 10.316 12H13.684C15.3813 12 16.808 10.7227 16.996 9.03467L17.588 3.70133C17.808 1.72667 16.2613 0 14.276 0ZM14.276 2C14.7947 2 15.1213 2.27867 15.2693 2.444C15.4173 2.61067 15.6573 2.96533 15.6013 3.48L15.008 8.81333C14.9333 9.49067 14.3627 10 13.684 10H10.316C9.63733 10 9.06667 9.49067 8.99067 8.81333L8.39867 3.48C8.34133 2.96533 8.58133 2.61067 8.73067 2.444C8.87867 2.27867 9.20533 2 9.724 2H14.276ZM18.6827 15.3333H5.31733C2.21067 15.3333 0 17.6373 0 21.076C0 23.4373 1.044 24 2.69333 24H21.3053C23.24 24 24 22.8693 24 21.076C24 17.6413 21.7893 15.3333 18.6827 15.3333ZM18.6827 17.3333C19.6213 17.3333 20.4893 17.7133 21.128 18.4013C21.7653 19.0907 22.0053 19.7867 22.0053 20.9227C22.0053 21.544 21.8453 22 21.3053 22H2.69333C2.29733 22 1.99467 21.6893 1.99467 20.9227C1.99467 19.9653 2.23333 19.0907 2.872 18.4013C3.51067 17.7133 4.37867 17.3333 5.31733 17.3333H18.6827Z' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_972_5108)'%3E%3Crect x='-20' y='-20' width='64' height='64' fill='%23142032'/%3E%3C/g%3E%3C/svg%3E%0A");
  display: block;
  width: 18px;
  /* height: 32px; */
  margin-right: 5px;
}

.container :global(.vtex-button)::after {
  content: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.5 6.75H5.49995C5.19695 6.75 4.92295 6.933 4.80695 7.213C4.69095 7.493 4.75495 7.816 4.96995 8.03L8.46995 11.53C8.61595 11.677 8.80795 11.75 8.99995 11.75C9.19195 11.75 9.38395 11.677 9.52995 11.53L13.03 8.03C13.245 7.816 13.309 7.493 13.193 7.213C13.077 6.933 12.804 6.75 12.5 6.75Z' fill='%2300DE00'/%3E%3Cmask id='mask0_972_5111' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='4' y='6' width='10' height='6'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.5 6.75H5.49995C5.19695 6.75 4.92295 6.933 4.80695 7.213C4.69095 7.493 4.75495 7.816 4.96995 8.03L8.46995 11.53C8.61595 11.677 8.80795 11.75 8.99995 11.75C9.19195 11.75 9.38395 11.677 9.52995 11.53L13.03 8.03C13.245 7.816 13.309 7.493 13.193 7.213C13.077 6.933 12.804 6.75 12.5 6.75Z' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_972_5111)'%3E%3Crect x='-1' y='-1' width='20' height='20' fill='%23142032'/%3E%3C/g%3E%3C/svg%3E%0A");
  width: 18px;
  height: 18px;
}

.container :global(.vtex-button__label) {
  padding: 0 0 0 0;
}

.label {
  text-transform: initial;
  font-size: 16px;
  line-height: 24px;
}

.label,
.profile {
  color: var(--serious-black);
  max-width: 250px;
}

@media (max-width: 64rem) {
  .profile {
    display: block;
  }

  .container :global(.vtex-button) {
    width: auto;
    height: 32px;
  }

  .container :global(.vtex-button__label),
  .container :global(.vtex-button)::after,
  .label {
    display: none;
  }
}

div[class*="vtex-styleguide-9-x-progressHeight w-100 br4 overflow-hidden bg-light-silver"] {
  background-color: var(--lines-dark);
}
