.sidebarContainer {
  background-color: var(--fresh-blue);
  color: var(--base);
  border-radius: 6px;
  margin-right: 15px;
}

@media (min-width: 768px) {
  .animation {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .animation {
    width: 25%;
  }
}
