/* Content copied from "checkout5-custom.css" at 2019-03-01T05:12:59.334Z */

/* /files/checkout5-custom.css */

/* Displays the option to enter a foreign document */
.document-box {
  display: block;
}

/* Displays the option to enter an international phone */
.phone-box {
  display: block;
}

:root {
  --color-primary: #3c4043;
  --color-muted: #a1a8b3;
}

/* Aviso de loja demonstrativa */
.demo-store-warning {
  display: flex;
  align-items: center;
  width: 95%;
  padding: 10px;
  background-color: #f8f7fc;
  color: var(--color-primary);
  font-family: "Fabriga";
  font-size: 16px;
  line-height: 1.5rem;
}

.demo-store-warning::before {
  content: ".";
  background-image: url("data:image/svg+xml,%3Csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.8333 12.6667V10.6667H11.1667H9.16667V12.6667H11.1667V15.3333H9.16667V17.3333H11.1667H13.8333H15.8333V15.3333H13.8333V12.6667ZM12.5 9.33333C13.604 9.33333 14.5 8.43733 14.5 7.33333C14.5 6.22933 13.604 5.33333 12.5 5.33333C11.396 5.33333 10.5 6.22933 10.5 7.33333C10.5 8.43733 11.396 9.33333 12.5 9.33333ZM12.5 22C6.98533 22 2.5 17.5147 2.5 12C2.5 6.48533 6.98533 2 12.5 2C18.0147 2 22.5 6.48533 22.5 12C22.5 17.5147 18.0147 22 12.5 22ZM12.5 0C5.872 0 0.5 5.372 0.5 12C0.5 18.628 5.872 24 12.5 24C19.128 24 24.5 18.628 24.5 12C24.5 5.372 19.128 0 12.5 0Z' fill='%23E42760'/%3E%3Cmask id='mask0_936_12631' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='25' height='24'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.8333 12.6667V10.6667H11.1667H9.16667V12.6667H11.1667V15.3333H9.16667V17.3333H11.1667H13.8333H15.8333V15.3333H13.8333V12.6667ZM12.5 9.33333C13.604 9.33333 14.5 8.43733 14.5 7.33333C14.5 6.22933 13.604 5.33333 12.5 5.33333C11.396 5.33333 10.5 6.22933 10.5 7.33333C10.5 8.43733 11.396 9.33333 12.5 9.33333ZM12.5 22C6.98533 22 2.5 17.5147 2.5 12C2.5 6.48533 6.98533 2 12.5 2C18.0147 2 22.5 6.48533 22.5 12C22.5 17.5147 18.0147 22 12.5 22ZM12.5 0C5.872 0 0.5 5.372 0.5 12C0.5 18.628 5.872 24 12.5 24C19.128 24 24.5 18.628 24.5 12C24.5 5.372 19.128 0 12.5 0Z' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_936_12631)'%3E%3Crect x='-19.5' y='-20' width='64' height='64' fill='%23E42760'/%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  margin-right: 0.5rem;
  width: 110px;
  height: 24px;
}

body .main-header,
.checkout-steps {
  margin-bottom: 20px;
}

.list-access {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: 20px;
}

.sublist-access {
  display: flex;
  gap: 20px;
}

.header-access {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #4a596b;
}

.header-access:hover,
.header-access:focus,
.header-access:active {
  text-decoration: none;
}

.checkout-steps {
  min-width: unset;
}

.checkout-steps_items {
  align-items: center;
}

.checkout-steps_item {
  flex-grow: 0;
}

.checkout-steps_item::after,
.checkout-steps_item .text::before {
  display: none;
}

.checkout-steps_item .text {
  flex-direction: column;
  gap: 8px;
  font-size: 14px;
  font-weight: 400;
}

body.v-custom-step-cart .checkout-steps_item_cart .text,
body.v-custom-step-email .checkout-steps_item_cart .text,
body.v-custom-step-email .checkout-steps_item_identification .text,
body.v-custom-step-profile .checkout-steps_item_cart .text,
body.v-custom-step-profile .checkout-steps_item_identification .text,
body.v-custom-step-shipping .checkout-steps_item_cart .text,
body.v-custom-step-shipping .checkout-steps_item_identification .text,
body.v-custom-step-shipping .checkout-steps_item_shipping .text,
body.v-custom-step-payment .checkout-steps_item_cart .text,
body.v-custom-step-payment .checkout-steps_item_identification .text,
body.v-custom-step-payment .checkout-steps_item_shipping .text,
body.v-custom-step-payment .checkout-steps_item_payment .text {
  font-weight: 500;
}

body.v-custom-step-cart .checkout-steps_item_cart svg,
body.v-custom-step-email .checkout-steps_item_cart svg,
body.v-custom-step-email .checkout-steps_item_identification svg,
body.v-custom-step-profile .checkout-steps_item_cart svg,
body.v-custom-step-profile .checkout-steps_item_identification svg,
body.v-custom-step-shipping .checkout-steps_item_cart svg,
body.v-custom-step-shipping .checkout-steps_item_identification svg,
body.v-custom-step-payment .checkout-steps_item_cart svg,
body.v-custom-step-payment .checkout-steps_item_identification svg,
body.v-custom-step-payment .checkout-steps_item_shipping svg,
body.v-custom-step-payment .checkout-steps_item_payment svg {
  color: var(--color-primary);
}

.checkout-steps_items .arrow {
  color: var(--color-muted);
}

body.v-custom-step-email .arrow.after-cart,
body.v-custom-step-profile .arrow.after-cart,
body.v-custom-step-shipping .arrow.after-cart,
body.v-custom-step-payment .arrow.after-cart,
body.v-custom-step-payment .arrow.after-identification,
body.v-custom-step-payment .arrow.after-shipping {
  color: var(--color-primary);
}

#continue-shopping-button {
  margin-top: 1rem;
  border: none;
}

@media (max-width: 690px) {
  body:not(.body-cart) .main-header .logo svg,
  body:not(.body-cart) .main-header .logo img,
  .checkout-steps {
    display: block !important;
  }

  body:not(.body-cart) .main-header .logo::before,
  .sublist-access .header-access span,
  .checkout-steps_item .text span {
    display: none !important;
  }

  body:not(.body-cart) .main-header {
    background: #fff;
    border-bottom: 1px solid #cbcbcb;
  }

  .list-access > .header-access span {
    text-align: left;
    line-height: 1rem;
  }

  .body-cart-vertical .summary-template-holder {
    margin-top: 0;
    padding-bottom: 80px;
  }

  .summary-template-holder .cart-links-bottom {
    background-color: #f4f2f2;
  }
}
